/* gallery admin */
.add-gallery-button, .add-article-save-button, .edit-event-add-document-button, .edit-event-save-button {
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: whitesmoke;
    font-size: 100%
}

.add-gallery-button:hover, .add-article-save-button:hover, .edit-event-add-document-button:hover, .edit-event-save-button:hover {
    color: #ff0a0a;
    text-shadow: 0 0 10px #ff0a0a;
}

.add-gallery-button-description {
    padding: 0 0.5vh;
}

.add-gallery-button-icon {
    padding: 0 0.5vh;
    font-size: 210%;
}

.add-gallery-modal, .edit-gallery-modal {
    position: fixed;
    top: -100vh;
    left: 50%;
    background: #131313;
    z-index: 2;
    transform: translate(-50%, -50%);
    border: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    width: 70vw;
    padding: 2vh;
    transition: 0.6s ease-in-out;
}

.add-gallery-modal.opened, .edit-gallery-modal.opened {
    top: 50%;
    transform: translate(-50%, -50%);
}

.add-gallery-modal-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.add-gallery-modal-nameinput, .add-gallery-modal-choose-cover-wrapper, .add-gallery-modal-choose-img-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 1vh 0;
    align-items: center;
}

.add-gallery-modal-choose-img-wrapper {
    flex-wrap: wrap;
    justify-content: center;
}

.add-gallery-modal-preview-cover {
    width: 20%;
    border: 1px solid whitesmoke;
    height: max-content;
}

.add-gallery-modal-choose-cover, .add-gallery-modal-choose-imgs, .add-gallery-modal-save-button, .edit-gallery-modal-save-button {
    color: whitesmoke;
    font-size: 100%;
    background-color: transparent;
    height: fit-content;
    padding: 1vh;
}

.add-gallery-modal-imgs-list {
    width: 100%;
}

.delete {
    margin: 0 2vh;
    font-size: 100%;
    background-color: transparent;
    color: whitesmoke;
    z-index: 1;
}

.add-gallery-modal .close-modal, .edit-gallery-modal-content .close-modal {
    top: 0;
    right: 0;
}

.add-gallery-modal h2, .edit-gallery-modal-content h2 {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 2vh;
}

.add-gallery-modal-nameinput label, .edit-gallery-modal-name-wrapper label {
    color: whitesmoke;
    font-size: 100%;
    margin-right: 1vh;
}

.add-gallery-modal-nameinput input, .edit-gallery-modal-name-wrapper input {
    width: 100%;
    background-color: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 100%;
    padding: 1vh 0;
    padding-left: 1vh;
}

.add-gallery-modal-nameinput input::placeholder {
    color: whitesmoke;
}

.add-gallery-modal-choose-cover:hover, .add-gallery-modal-choose-imgs:hover, .add-gallery-modal-nameinput input:hover, .delete:hover, 
.add-gallery-modal-save-button:hover, .edit:hover, .edit-gallery-modal-name-wrapper input:hover, .edit-gallery-modal-save-button:hover, 
.add-article-modal-body input:hover{
    color: #ff0a0a;
    border-color: #ff0a0a;
    text-shadow: 0 0 10px #ff0a0a;
}

.add-gallery-modal-nameinput input:hover, .edit-gallery-modal-name-wrapper, input:hover .add-article-modal-body input:hover{
    box-shadow: 0 0 10px 1px #ff0a0a;
}

.add-gallery-modal-nameinput input:hover::placeholder, .edit-gallery-modal-name-wrapper input:hover::placeholder, .add-article-modal-body input:hover::placeholder {
    color: #ff0a0a;
}

.delete {
    position: absolute;
    margin: 0;
    top: 1vh;
    right: 1vh;
    font-weight: bold;
    font-size: 140%;
}

.add-gallery-modal-imgs-list ul, .edit-gallery-modal-imgs-wrapper ul{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: auto;
    grid-gap: 1vh;
    width: calc(100% - 3vh);
}

.add-gallery-modal-imgs-list li, .edit-gallery-modal-imgs-wrapper li {
    position: relative;
}

.edit {
    color: whitesmoke;
    font-size: 120%;
    position: relative;
}

.edit::before {
    font-family: "fontello";
    content: '\e839';
}

.gallery-edit-wrapper .delete, .article-edit-wrapper .delete, .events-edit-wrapper .delete {
    position: relative;
    top: 0;
    right: 0;
}

.gallery-edit-wrapper, .article-edit-wrapper, .events-edit-wrapper {
    z-index: 1;
    position: absolute;
    top: 1vh;
    right: 1vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    background-color: #000000b0;
    padding: 0 1vh;
}

.edit-gallery-modal-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.edit-gallery-modal-imgs-wrapper li img{
    cursor: grab;
}

.edit-gallery-modal-content .close-modal {
    top: 0;
    right: 0;
}

.edit-gallery-modal-name-wrapper, .edit-gallery-modal-imgs-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 1vh 0;
    align-items: center;
}

.edit-gallery-modal {
    width: 80vw;
}

/* gallery admin end */

/* news admin */

.blog-menu-section-add-article-button {
    width: 100%;
    height: 4vh;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    background-color: transparent;
    font-size: 100%;
}

.blog-menu-section-add-article-button:hover {
    color: #ff0a0a;
    border-color: #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
}

.add-article-modal {
    width: 100%;
    height: 94vh;
    position: fixed;
    top: 6vh;
    left: -100vw;
    background-color: #131313;
    z-index: 1;
    overflow: auto;
    transition: 0.6s ease-in-out;
}

.add-article-modal.opened {
    left: 0;
}

.add-article-modal-content {
    position: relative;
    height: 100%;
}

.add-article-modal-header {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-article-modal-body {
    height: 70%;
}

.add-article-modal-text-editor-wrapper {
    height: 100%;
}

.add-article-modal-text-editor-wrapper textarea {
    width: calc(100% - 2vh);
    height: calc(100% - 2vh);
    padding: 1vh;
    border: 1px solid whitesmoke;
    border-right: none;
    border-left: none;
    background-color: transparent;
    color: whitesmoke;
    font-size: 100%;
}

.add-article-modal-footer {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.add-article-modal-footer .col-1-3 {
    height: calc(100% - 2vh);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1vh;
}

.add-article-modal-footer .col-1-3 p {
    color: whitesmoke;
}

.add-article-modal::-webkit-scrollbar, .edit-event-modal::-webkit-scrollbar {
    width: 0px;
}

.add-article-add-new-keyword, .add-article-add-new-category {
    width: 100%;
    position: relative;
}

.add-article-add-new-keyword input, .add-article-add-new-category input {
    width: calc(100% - 1vh - 20% - 2px);
    background-color: transparent;
    color: whitesmoke;
    height: calc(4vh - 2px);
    border: 1px solid whitesmoke;
    padding-left: 1vh;
    margin: 1vh 0;
    padding-right: 20%;
    font-size: 100%;
}

.add-article-add-new-keyword input:hover, .add-article-add-new-category input:hover, .edit-event-modal-body input:hover{
    color: #ff0a0a;
    border-color: #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
}

.add-article-add-new-keyword input:hover::placeholder, .add-article-add-new-category input:hover::placeholder, .edit-event-modal-body input:hover::placeholder {
    color: #ff0a0a;
}

.add-article-add-new-keyword-button, .add-article-add-new-category-button, .add-event-button {
    width: 20%;
    height: 4vh;
    color: whitesmoke;
    border-left: 1px solid whitesmoke;
    background-color: transparent;
    font-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1vh 0;
}

.add-article-add-new-keyword-button:hover, .add-article-add-new-category-button:hover, .add-event-button:hover {
    color: #ff0a0a;
    border-color: #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
}

.css-2b097c-container {
    width: 100%;
}

.css-e56m7-control, .css-g90ezd-control, .css-yk16xz-control, .css-1pahdxg-control {
    background-color: transparent !important;
    border: 1px solid whitesmoke;
}

.css-e56m7-control:hover, .css-g90ezd-control:hover, .css-yk16xz-control:hover, .css-1pahdxg-control:hover {
    border-color: #ff0a0a !important;
    box-shadow: 0 0 10px 1px #ff0a0a;
}

.css-i0syzg-menu, .css-26l3qy-menu {
    background-color: #131313 !important;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

.css-1n7v3ny-option { /* hover */
    background-color: transparent !important;
    color: #ff0a0a !important;
    border-color: #ff0a0a;
    box-shadow: 0 0 10px 1px #ff0a0a;
}

.css-yt9ioa-option { /* common */

}

.css-13jmfyo-multiValue {
    background-color: transparent !important;
    color: whitesmoke !important;
    border: 1px solid whitesmoke !important;
}

.css-10ku62j, .css-1uccc91-singleValue {
    color: whitesmoke !important;
}

.add-article-modal-footer .col-1-3 .col-1-2 {
    height: 100%;
    justify-content: center;
    align-items: center;
}

.add-article-modal-footer .col-1-3 .col-1-2 p {
    width: 100%;
}

.add-article-choose-visibility label {
    color: whitesmoke;
}

.add-article-choose-visibility {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vh;
}

.add-article-choose-visibility p {
    font-size: 130%;
}

.add-article-choose-visibility label:hover {
    color: #ff0a0a;
}

.news-content .article-edit-wrapper {
    top: 0;
    right: 5vh;
}

.edit-event-modal-name span {
    color: whitesmoke;
    margin-right: 1vh;
}

/* news admin end */

/* events admin */

.admin-events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
    column-gap: 1vh;
}

.admin-events-list h2 {
    color: whitesmoke;
    width: 100%;
    text-align: center;
}

.admin-events-list .events-block {
    border: 1px solid whitesmoke;
    padding: 1vh;
    position: relative;
}

.add-event-button {
    position: relative;
    top: 0;
    right: 0;
    border: 1px solid whitesmoke;
}

.add-event-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-event-modal {
    position: fixed;
    top: 6vh;
    left: -100vw;
    width: 100%;
    height: 94vh;
    background-color: #131313;
    z-index: 1;
    color: whitesmoke;
    overflow: auto;
    transition: 0.6s ease-in-out;
}

.edit-event-modal.opened {
    left: 0;
}

.edit-event-modal-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.edit-event-modal-header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-event-modal-header h2 {

}

.edit-event-modal-body {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.edit-event-modal-name {
    width: 100%;
    height: 4vh;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-event-modal-name input {
    width: 30vh;
    margin-left: 1vh;
}

.edit-event-modal-col-left {
    width: calc(30% - 2vh);
    height: calc(100% - 6vh);
    padding: 1vh;
}

.edit-event-modal-place, .edit-event-modal-date {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    margin: 1vh 0;
}

.edit-event-modal-place label, .edit-event-modal-date label {
    width: 100%;
}

.edit-event-modal-place input, .edit-event-modal-date input {
    width: 50%;
}

.edit-event-modal-col-right {
    width: calc(70% - 2vh);
    height: calc(100% - 6vh);
    padding: 1vh;
}

.edit-event-modal-edit-text, .edit-event-modal-edit-text textarea {
    width: 100%;
    height: 100%;
}

.edit-event-modal-edit-text textarea {
    width: calc(100% - 2vh);
    height: calc(100% - 2vh);
    background-color: transparent;
    border: 1px solid whitesmoke;
    padding: 1vh;
    font-size: 100%;
}

.edit-event-modal-footer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.edit-event-modal-body input, .add-article-modal-body input {
    height: 3vh;
    color: whitesmoke;
    background-color: transparent;
    border: 1px solid whitesmoke;
    font-size: 100%;
    padding-left: 1vh;
}

.edit-event-add-document-preview-list ul {
    display: flex;
    flex-wrap: wrap;
}

.edit-event-add-document-preview-list .documents-element {
    width: 15vw;  
}

.edit-event-add-document-preview-list .documents-title {
    width: auto;
}

.edit-event-add-document-button {
    border: 1px solid whitesmoke;
    padding: 0 1vh;
}

.edit-event-add-document-button:hover {
    border-color: #ff0a0a;
}

.edit-event-add-document {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.edit-event-modal-footer .col-1-3 {
    padding: 1vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.edit-event-save-button {
    border: 1px solid whitesmoke;
    padding: 1vh;
}

.edit-event-save-button:hover {
    border-color: #ff0a0a;
}

.documents-title .events-edit-wrapper .delete {
    right: 1vh;
}

/* events edmin end */

/* warning modals */

.warning-delete-modal, .warning-success-modal {
    position: fixed;
    top: 50%;
    left: -100vh;
    z-index: 2;
    transform: translate(-50%, -50%);
    transition: 0.6s ease-in-out;
    background-color: rgb(249 159 168);
}

.warning-delete-modal.opened, .warning-success-modal.opened {
    left: 50%;
}

.warning-delete-modal-content, .warning-success-modal-content {
    padding: 3vh;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: center;
    align-items: center;
}

.warning-delete-modal-content p, .warning-success-modal-content p {
    width: 100%;
    color: darkslategray;
    font-weight: bold;
    text-align: center;
}

.warning-delete-button, .warning-delete-button-no, .warrning-success-modal-button {
    width: 10vh;
    height: 4vh;
    color: whitesmoke;
    font-size: 100%;
    background-color: #ff7985;
}

.warning-delete-button-no, .warrning-success-modal-button {
    background-color: #afe6bd;
}

.warning-delete-button:hover {
    background-color: #ff0017;
}

.warning-delete-button-no:hover, .warrning-success-modal-button:hover {
    background-color: #59da7a;
}

.warning-success-modal {
    background-color: #d4edda;
}

.warning-success-modal-content .close-modal {
    color: darkslategray;
    font-size: 150%;
    font-weight: bold;
}

.warrning-success-modal-button {
    color: darkslategray;
}

/* warning modals end */

/* text editor */

/* .add-article-modal-text-editor-wrapper div:first-child {
    width: 100%;
}

.add-article-modal-text-editor-wrapper {
    display: flex;
    flex-wrap: wrap;
} */

.add-article-modal-header, .add-article-modal-body, .add-article-modal-footer {
    width: 100%;
}

.add-article-modal-text-editor-wrapper {
    height: calc(100% - 2vh - 2px - 4vh);
    width: calc(100% - 2vh - 2px);
    padding: 1vh;
    border: 1px solid whitesmoke;
}

.ce-block__content {
    width: 98%;
    max-width: 98%;
    color: whitesmoke;
}

.ce-toolbar__content {
    max-width: 96%;
}

.cdx-block {
    width: 98%;
    margin: 0 auto;
}

/* text editor end */

/* media style */

/* global media */

@media screen and (min-width:0px) and (max-width:1024px) { 
    .edit, .delete {
        font-size: 100%;
    }

    .add-gallery-button-description {
        width: 60%;
    }

    .add-gallery-button-icon {
        width: 10%;
    }
}

/* ipad */

@media screen and (min-width:541px) and (max-width: 768px) { 

}

/* ipad-pro */

@media screen and (min-width:769px) and (max-width: 1024px) {

}


/* media style end */